<section class="d-flex flex-column">
  <!-- Jumbotron -->
  <div
  class="px-4 py-5 px-md-5 text-center text-lg-start"
  style="background-color: hsl(0, 0%, 96%)">
  
  <div class="container">
  <div
    
  >
                    <div class="caja_seccion">
                      <div class="card-body py-5 px-md-5">  
                    
                    <form class="form">
                      <div class="form_container">
                        <h2 class="form_title">Contáctanos</h2>
                        <input type="text" class="form_input" placeholder="Nombre:">
                        <input type="email" class="form_input" required placeholder="email@dominio.com" >
                        <textarea class="form_input form_input--message" placeholder="Mensaje:" required maxlength="250" ></textarea>
                        <input type="submit" value="Enviar" class="form_cta">
                      </div>
                    </form>
                  
      
                    </div> 
                </div>  


                  