<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head> 
<div class="productCart-wrapper">
  @for(product of myCart$ | async; track product.codigodeBarras){
  <article class="productCart">
    <div class="productCart-body">
      <p>{{ product.nombre }}</p>
      <div class="productCart-body-info">
        <p>Precio: $ {{ product.precio }}</p>
        <p>Cantidad: {{ product.cantidad }}</p>
      </div>
    </div>
    <div class="productCart-total">
      <p>$ {{ totalProduct(product.precio, product.cantidad) }}</p>
    </div>
    <div class="productCart-buttons">
      <div class="productCart-buttons-operators">
        <i
          class="fa-solid fa-minus"
          (click)="updateUnits('minus', product.codigodeBarras)"
        ></i>
        <span>{{ product.cantidad }}</span>
        <i
          class="fa-solid fa-plus"
          (click)="updateUnits('add', product.codigodeBarras)"
        ></i>
      </div>
      <i class="fa-solid fa-trash" (click)="deleteProduct(product.codigodeBarras)"></i>
    </div>
  </article>
}
  <div class="cartTotal">
    <p class="cartTotal-total">Total: $ {{ totalCart() }}</p>
  </div>
  <button class="cart-btn">Ir a pagar</button>
</div>

<!--  
<header id="page-header">
  <div class="container">
    <h2>CARRITO</h2>
  </div>
</header>
<section class="padded">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>DASHBOARD</thead>
      <tbody>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Producto</th>
          <th scope="col">Categoria</th>
          <th scope="col">Subcategoria</th>
          <th scope="col">Subtotal</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>-->