.caja {
  font-family: "Montserrat", sans-serif;
  background-image: url(/assets/img/Fondo_Textura_01.png);
  margin: 50px auto;
  padding-top: 50px;
  border-radius: 10px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
}

#TyC p {
  width: 70%;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 2em;
}

#TyC h3 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
}
