
<div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left">
  <form class="form-inline py-2">
      <label class="sr-only">Código de Descuento</label>
      <input class="form-control form-control-sm my-2 mr-3" type="text"
          placeholder="Código del cupón" required="">
      <button class="btn btn-style-1 btn-sample2 btn-sm my-2 mx-auto mx-sm-0"
          type="submit">Aplicar Cupón</button>
  </form>
  <div class="py-2"><span
          class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Total:</span><span
          class="d-inline-block align-middle text-xl font-weight-medium">$188.50</span></div>
</div>
<!-- Buttons-->
<hr class="my-2">
<div class="row pt-3 pb-5 mb-2">
  <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-sample btn-block" href="#"><i
              class="fe-icon-refresh-ccw"></i>&nbsp;Finalizar Compra</a></div>
  <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-sample btn-block"
          href="checkout-address.html"><i class="fe-icon-credit-card"></i>&nbsp;Verificación</a>
  </div>
</div>

