

<header id="page-header">
  <div class="container">
    <h2>CARRITO</h2>
  </div>
</header>
<section class="padded">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>DASHBOARD</thead>
      <tbody>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Producto</th>
          <th scope="col">Categoria</th>
          <th scope="col">Subcategoria</th>
          <th scope="col">Subtotal</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>